{% load static %}
<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    <!-- ===== CSS ===== -->
 
    <link rel="stylesheet" href="{% static 'css/login.css' %}" >
    <script src="{% static 'js/login.js' %}"></script>

    <style>
      #messages{
			background-color: rgb(227, 30, 30);
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}
    </style>

         
    <!--<title>Login & Registration Form</title>-->
</head>
<body>
    
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>
                
                {% for message in messages %}
					<p id="messages">{{message}}</p>
				{% endfor %}	

                <form method="POST">
                        {% csrf_token %}
                    <div class="input-field">
                        <input type="text" name="username" placeholder="Username" class="form-control">
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" name="password" class="form-control" placeholder="Enter your password">
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Remember me</label>
                        </div>
                        
                        <a href="#" class="text">Forgot password?</a>
                    </div>
                      
                    <div class="input-field button">
                        <input type="submit" value="Login Now">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Not a member?
                        <a href="{% url 'register' %}" class="text signup-link">SignUp Now</a>
                    </span>
                </div>
                
            </div>

            
        </div>
    </div>

    <!--<script src="script.js"></script>-->

</body>
</html>
